@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #162133;
}

nav img {
    width: 90px;
    padding-right: 10px;
}

nav .navbar-brand h1 {
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 23px;
    color: #50c2ff;
}

.gap30px {
    gap: 30px;
}

.btnbg {
    background-color: #3389f1;
    color: white;
    padding: 8px 20px;
    border-radius: 50rem;
    outline-style: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.form_design {
    padding: 20px;
}

#signinbtn .modal-content {
    background-color: #ccd6e652 !important;
    backdrop-filter: blur(4px);
}

.banner-section {
    height: 100vh;
}

.acc-links {
    line-height: 30px;
}

.acc-links a {
    color: #162133;
    font-weight: 500;
}


/* footer */
footer {
    background-color: #162133;
}

.footer .brand a {
    text-decoration: none;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 23px;
    background: -webkit-linear-gradient(white, #50c2ff, #2743c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brand-content {
    color: white;
    opacity: 50%;
}

.footer h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.footer ul,
.footer ul a {
    color: white;
    text-decoration: none;
    opacity: 80%;
    list-style-type: none;
}

.footer ul li {
    padding-left: 10px;
}

.rm-p {
    padding-left: 0 !important;
    gap: 10px;
}

.cpyrght {
    color: white;
    opacity: 80%;
    font-size: small;
}

.hrline {
    color: white;
}

.cpyrght div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Admin Dashboard */

.logout-btn a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.logout-btn i {
    color: white;
}

.logout-btn a:hover,
.logout-btn a:hover i {
    color: #3389f1 !important;
}

.admin-text h3 {
    color: white;
    font-size: large;
    margin-bottom: 0;
}

.admin-text a {
    color: white;
    font-size: large;
    margin-bottom: 0;
    text-decoration: none;
    font-weight: 600;
}

.hr {
    width: 2px;
    height: 20px;
    background-color: white;
}

.admin-panel {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-panel {
    width: 300px;
    height: 100%;
    background-color: #162133;
    padding-top: 50px;
}

.nav-panel-ul,
.nav-panel-ul #empdrop ul {
    color: white;
    list-style-type: none;
    width: 100%;
    padding-left: 10px;
}

.nav-panel-ul li {
    border-bottom: 1px solid #162133;
    line-height: 35px;
    width: 100%;
}

#empdrop li:hover {
    width: 80%;
    border-bottom: 1px solid white;
    animation: border_anime 0.2s linear forwards;
}

@keyframes border_anime {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#empdrop ul li a {
    color: white;
    text-decoration: none;
}

.nav-content {
    width: 100%;
    height: 100%;
}

.add-btn {
    background-color: #162133 !important;
    color: white !important;
}

/* employee view html style */

.btn-font {
    font-size: 22px;
    font-weight: 500;
}

.accordion-body {
    background-color: #cdd5e2;
}

.emp-card {
    height: 160px;
    display: flex;
    position: relative;
}

#empid {
    margin-bottom: -10px;
}

.emp-card-img img {
    width: 150px;
    height: 150px;
    border-radius: 50% 50%;
    position: relative;
    z-index: 1;
    border: 5px solid white;
    outline: 5px solid #cdd5e2;
    border-inline: 5px solid #3389f1;
}

.emp-card-body {
    background-color: white;
    width: 350px;
    height: 150px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 85px;
    /* z-index: 0; */
    padding: 10px;
}

.card-cont {
    background-color: #3389f1;
    height: 140px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 10px 10px 75px;
    color: #162133;
}

.martop {
    margin-top: -5px;
    color: black;
    text-decoration: none;

}

.martop:hover {
    color: rgb(240, 219, 219);
}

.martop:hover .trans {
    position: relative;
    animation: trans 1s infinite;
    overflow-x: hidden;
    color: rgb(240, 219, 219);
}

@keyframes trans {
    from {
        left: 0;
    }

    to {
        left: 10px;
    }
}

.empviewmodal-cont .emp-lbl {
    font-size: small;
}

.empviewmodal-cont .emp-val {
    font-size: 23px;
}

.empviewmodal-cont {
    position: relative;
}

.staff-images {
    position: absolute;
    right: 0;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.192);
}

.staff-images img {
    border-radius: 6px;
}







/* media quary */
@media only screen and (min-width:425px) {
    .footer {
        padding-right: 30px;
        padding-left: 30px;
    }
}